body{
  display: flex;
}
.btn{
  margin: 60px;
  text-align: center;
  width: 100px;
  padding: 10px 15px;
  color: white;
  background-color: #0084ff;
  transition: all 2s ease;
}
.btn:hover{
  width: 200px;
  transform: rotate(-270deg);
}
.img{
  opacity: .4;
  animation: fade 2s forwards;
  animation-delay: 3s;
}

.img-wrap{
  overflow: hidden;
  position: relative;
}
.img-wrap:before {
  animation: img-wrap 1s ease forwards;
  animation-delay: 2s;
  background: #fff;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.img-wrap2{
  overflow: hidden;
  position: relative;
}
.img-wrap2:before {
  animation: img-wrap 1s forwards;
  animation-delay: 2s;
  background: #fff;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.img-wrap-opa{
  overflow: hidden;
  position: relative;
}
.img-wrap-opa:before {
  animation: img-wrap-opa 2s forwards;
  animation-delay: 2s;
  background: #fff;
  opacity:.4;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 1;
  transform: translateY(-100%);
  animation-direction:alternate;
}

@keyframes img-wrap {
100% {
transform: translateY(100%);
}
}

@keyframes img-wrap-opa {
50% {
transform: translateY(0%);
}

100%{
transform: translateY(-100%);
}
}

@keyframes fade {
100% {
opacity: 1;
}
}